## Lists, Tuples, and Dictionaries

- Lists are ordered, mutable, and allow duplicate elements.
- Tuples are ordered, immutable, and allow duplicate elements.
- Dictionaries are unordered, mutable, and indexed. They do not allow duplicate elements.

In [1]:
names = ['John', 'Paul', 'George', 'Ringo']

In [2]:
names[0]

'John'

In [4]:
#We can sub index
# this means it will return up to but not including the second index
# so it will return a list of the first two elements
names[0:2]

['John', 'Paul']

In [5]:
# We can also use negative indexing
# this will return the last element in the list
names[-1]

'Ringo'

In [8]:
names[:-2]

['John', 'Paul']

In [10]:
# Add to a list with append
names.append('Pete')

In [11]:
names

['John', 'Paul', 'George', 'Ringo', 'Pete']

In [12]:
# we can remove from a list with remove and pop

# remove will remove the first instance of the element
names.remove('Pete')

In [13]:
names

['John', 'Paul', 'George', 'Ringo']

In [14]:
ringo = names.pop()

In [15]:
names

['John', 'Paul', 'George']

In [16]:
# and ringo has been saved to the new variable ringo
ringo

'Ringo'

In [17]:
# we can also insert at a specific index
names.insert(2, 'Pete')
names

['John', 'Paul', 'Pete', 'George']

In [19]:
# we also have multi demiensional lists
# this is a list of lists
nums = [
    [1, 2, 3],
    [4, 5, 6],
    [7, 8, 9]
]

In [22]:
# The first index is for which list we want to access
# the second index is for which element in that list we want to access
# 0 is for which list we want to access
# 2 is for which element in that list we want to access

nums[0][2]

3

In [23]:
# Tuples are immutable
# this means we can't change them
# we can't add or remove elements

# we can create a tuple with parentheses
tup = (1, 2, 3)

In [24]:
# we can access elements in a tuple the same way we do with lists
tup[0]

1

In [25]:
# Dictionary
# Dictionaries are key value pairs

states = {
    "Key": "Value",
    'CA': 'California',
    'NY': 'New York',
    'TX': 'Texas'
}

In [26]:
states["Key"]

'Value'

In [27]:
states["CA"]

'California'

In [28]:
states["TN"] = "Tennessee"

In [29]:
states

{'Key': 'Value',
 'CA': 'California',
 'NY': 'New York',
 'TX': 'Texas',
 'TN': 'Tennessee'}

In [30]:
# to remove a key value pair we have 2 ways
# we can use the pop method
states.pop("Key")

'Value'

In [31]:
states

{'CA': 'California', 'NY': 'New York', 'TX': 'Texas', 'TN': 'Tennessee'}

In [32]:
# and we have the del keyword
del states["TN"]

In [33]:
states

{'CA': 'California', 'NY': 'New York', 'TX': 'Texas'}

In [34]:
# Your value can be of any data type

In [35]:
random = {
    "Name": "John",
    "Age": 30,
    "Married": True,
    "Pets": ["Dog", "Cat"]
}

In [38]:
# lets look at the Pets Key and then inside that list the second element
random["Pets"][1]

'Cat'

In [39]:
# WE have loops
# we can loop through lists, tuple, or a dictionary

# for loop
names

['John', 'Paul', 'Pete', 'George']

In [40]:
for elem in names:
    print(f"Hello {elem}")

Hello John
Hello Paul
Hello Pete
Hello George

In [41]:
for index,elem in enumerate(names):
    print(f"Hello {elem} at index {index}")

Hello John at index 0
Hello Paul at index 1
Hello Pete at index 2
Hello George at index 3

In [42]:
#lets say you want to loop through 0 to 10
# we can use the range function

for i in range(10):
    print(i)

0
1
2
3
4
5
6
7
8
9

In [43]:
# We can do fizz buzz
# if a number is divisible by 3 print fizz
# if a number is divisible by 5 print buzz
# if a number is divisible by both print fizzbuzz

for i in range(1,101): # this means it starts at 1 and goes to 100, 101 is not included.
    if i % 3 == 0 and i % 5 == 0:
        print(f"{i}: FizzBuzz")
    elif i % 3 == 0:
        print(f"{i}: Fizz")
    elif i % 5 == 0:
        print(f"{i}: Buzz")

3: Fizz
5: Buzz
6: Fizz
9: Fizz
10: Buzz
12: Fizz
15: FizzBuzz
18: Fizz
20: Buzz
21: Fizz
24: Fizz
25: Buzz
27: Fizz
30: FizzBuzz
33: Fizz
35: Buzz
36: Fizz
39: Fizz
40: Buzz
42: Fizz
45: FizzBuzz
48: Fizz
50: Buzz
51: Fizz
54: Fizz
55: Buzz
57: Fizz
60: FizzBuzz
63: Fizz
65: Buzz
66: Fizz
69: Fizz
70: Buzz
72: Fizz
75: FizzBuzz
78: Fizz
80: Buzz
81: Fizz
84: Fizz
85: Buzz
87: Fizz
90: FizzBuzz
93: Fizz
95: Buzz
96: Fizz
99: Fizz
100: Buzz

In [44]:
# we can also loop through a dictionary
# the word key in the loop is a variable name, you can name it anything you want, but you must use the same name in the loop

for key in states:
    print(f"{key}: {states[key]}")

CA: California
NY: New York
TX: Texas

In [45]:
for key,value in states.items(): # Once again key, and value are variable names, you can name them anything you want, but you must use the same name in the loop
    print(f"{key}: {value}")

CA: California
NY: New York
TX: Texas